$mainColor: rgb(26, 27, 29);
$effectColor: rgb(202, 128, 17);
$mainWhite: #FEFFFF;
$primaryFont: Sentinel SSm A,Sentinel SSm B,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;

nav {
    ul {
        font-family: $primaryFont;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-size: 1rem bold;
        margin: auto;
        background-color: $mainColor;
    }
    li {
        padding: 2rem;
        list-style: none;
        margin-right: 1.875rem;
    }
    a {
        color: $mainWhite;
        text-decoration: none;
    }
}

li :hover {
    color: $effectColor;
    text-transform: uppercase;
}

.logo {
    margin-top: 0.9375rem;
    border-radius: 0.25rem;
}